# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
build/
pubspec.lock

# Symbolication related
app.*.symbols
# Generated Firebase options
lib/firebase_options.dart

# Obfuscation related
app.*.map.json
# Android
android/key.properties
android/local.properties

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# iOS
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/ServiceDefinitions.json
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
